<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input label="Name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="department" interface="popover" label="Department" placeholder="Please select">
        <ion-select-option value="IT">IT</ion-select-option>
        <ion-select-option value="HR">HR</ion-select-option>
        <ion-select-option value="Finance">Finance</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button (click)="showAlert()" shape="round" expand="block">Submit</ion-button>

</ion-content>
