<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      UTM Space
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">UTM Space2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h1 class="text-header">{{ titleText }}</h1>
    <ion-button expand="block" color="success" (click)="btnClick()">Click Me!</ion-button>
    
    <p *ngFor="let car of cars">I love to drive {{ car.color }} {{car.model }}</p>

    <ion-button routerLink="/profile">Go to Profile</ion-button>

  </div>


</ion-content>
